{% extends 'base.html' %} <!--this line extends current file to base template file-->

{% block head %}
<title>Task Master</title>
{% endblock %}


{% block body %}
<div class="content">
    <div class="pg-title">Task Master</div>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center; color: aliceblue; text-shadow: 3px 3px 5px #000;">There are no tasks!! Create one below.</h4>
    {% else %}
    <table class="task-table">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>

        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date()}}</td>
                <td>
                    <a href="/delete/{{ task.id }}">Delete</a><br>
                    <a href="/update/{{ task.id }}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div id='input-form'>
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
    </div>
</div>
{% endblock %} 